@import "../../assets/sass/main.scss";

.rating {
  @include flex-row;
  gap: 14px;
  font-size: 24px;

  @media (max-width: 430.98px) {
    font-size: 13px;
    gap: 6px;
  }

  .full-star {
    color: $red-orange;
  }

  .empty-star {
    color: #e3e3e3;
  }
}
