@import "../../assets/sass/main.scss";

.housing {
  margin-bottom: 50px;
  user-select: none;

  @media (max-width: 630px) {
    margin-bottom: 27px;
  }

  .description-and-equipment {
    @include flex-row;
    gap: 76px;

    @media (max-width: 630px) {
      @include flex-column;
      gap: 20px;
    }

    div {
      width: 100%;
      position: relative;
    }
  }
}
