@import "../../assets/sass/main.scss";

.collapse-container {
  padding: 15px;
  border-radius: 5px;
  background-color: $red-orange;
  cursor: pointer;
  box-sizing: border-box;
  user-select: none;

  @media (max-width: 430.98px) {
    padding: 10px;
  }

  .collapse-header {
    @include flex-row;
    @include font-24px-w700;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 22px;

    @media (max-width: 430.98px) {
      height: 10px;
      font-size: 13px;
    }
  }
}

.collapse-content {
  display: none;

  &.open {
    @include font-18px-w400;
    display: block;
    background-color: #f6f6f673;
    padding: 20px;
    box-sizing: border-box;
    text-align: justify;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    top: -5px;
    z-index: -1;

    @media (max-width: 430.98px) {
      font-size: 12px;
    }
  }
}
