@import "../../assets/sass/main.scss";

.footer {
  @include flex-column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100vw;
  min-height: 209px;
  background-color: black;
  user-select: none;
  margin-top: auto;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);

  img {
    width: 125px;
    height: 40px;
  }

  p {
    @include font-24px-w500;
    color: white;

    @media (max-width: 630px) {
      @include font-12px-w500;
    }
  }
}
