@import "../../assets/sass/main.scss";

.error-message-container {
  @include flex_column;
  align-items: center;
  margin: 139px 0;
  gap: 139px;
  user-select: none;

  @media (max-width: 430.98px) {
    margin: 113px 0;
    gap: 113px;
  }

  h1 {
    color: $red-orange;
    font-size: 288px;
    font-weight: 700;

    @media (max-width: 780.98px) {
      font-size: 200px;
    }
    @media (max-width: 430.98px) {
      font-size: 96px;
    }
  }

  h2 {
    color: $red-orange;
    font-size: 36px;
    font-weight: 500;

    @media (max-width: 430.98px) {
      @include font-18px-w500;
      width: 260px;
      text-align: center;
      line-height: 25.668px;
    }
  }

  p {
    @include font-18px-w500;
    text-decoration: underline;

    @media (max-width: 430.98px) {
      @include font-14px-w500;
    }
  }
}
