@import "./assets/sass/main.scss";

.App {
  position: relative;
  padding: 45px 100px 0;
  user-select: none;

  @media (max-width: 1039.98px) {
    padding: 40px 90px 0;
  }

  @media (max-width: 900.98px) {
    padding: 35px 80px 0;
  }

  @media (max-width: 780.98px) {
    padding: 30px 70px 0;
  }

  @media (max-width: 630px) {
    padding: 20px;
  }
}
